draft.db*
/objectbox/
*.csv
/*.env
run.sh
node_modules/
/client-dist
/client/dist
/client_toolchain/stats.json
/client_toolchain/dev_server/dist
static/dist

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
