<!doctype html>
<html>
<head>
  <title>not for ulb nope</title>
  <link rel="icon" href="data:;base64,=">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .card {
      display: inline-block;
      vertical-align: top;
    }
  </style>
</head>
<body>
  <div>{{ .DraftName }}</div>
  <div>Seat {{ .Position }}</div>
  <div>
    {{ if not .Pack }}
      <div>no packs available</div>
    {{ else }}
      <div>current pack</div>
        {{ range .Pack }}
          <div class="card">
            <a href="/pick/{{ .Id }}">
              <img src="http://api.scryfall.com/cards/{{ .Edition }}/{{ .Number }}?format=image&version=normal" height=300 />
            </a>
            <div>{{ .Name }}</div>
            {{ if .Tags }}
              <div>({{ .Tags }})</div>
            {{ end }}
          </div>
        {{ end }}
    {{ end }}
    <hr/>
    {{ if not .Picks }}
      <div>no picks yet</div>
    {{ else }}
      <div>previous picks</div>
      {{ range .Picks }}
        <div class="card">
          <img src="http://api.scryfall.com/cards/{{ .Edition }}/{{ .Number }}?format=image&version=normal" height=300 />
          <div>{{ .Name }}</div>
          {{ if .Tags }}
            <div>({{ .Tags }})</div>
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
    <hr/>
    <div>Powers</div>
    {{ if not .Powers}}
      <div>no powers available</div>
    {{ else }}
      {{ range .Powers }}
        <div class="card">
          <a href="/power/{{ .Id }}">
            <img src="http://api.scryfall.com/cards/{{ .Edition }}/{{ .Number }}?format=image&version=normal" height=300 />
          </a>
          <div>{{ .Name }}</div>
        </div>
      {{ end }}
    {{ end }}
    <hr/>
    <div>Public Messages</div>
    <ul>
      {{ range .Revealed }}
        <li>{{ . }}</li>
      {{ end }}
    </ul>
  </div>
</body>
</html>
