<!doctype html>
<html>
<head>
  <title>not for ulb nope</title>
  <link href="/static/favicon.png" rel="icon">
</head>
<body>
<div>
  <div>drafts</div>
  <ul>
      {{ range .Drafts }}
      <li>
	{{ if .Joined }}
	  <span><a href="/draft/{{ .Id }}{{ .ViewUrl }}">{{ .Name }}</a></span>
	{{ else }}
	  <span>{{ .Name }}</span>
	{{ end }}  
	<span>{{ .Seats }} seats available.</span>
	{{ if .Joinable }}
	  <span><a href="/join/{{ .Id }}{{ .ViewUrl }}">Join!</a></span>
	{{ end }}
      </li>
      {{ end }}
    </ul>
  </div>
</body>
</html>
