<!doctype html>
<html>
<head>
  <title>not for ulb nope</title>
  <link href="/static/favicon.png" rel="icon">
</head>
<body>
<div>
  <div>drafts</div>
  <ul>
    {{ $ViewURL := .ViewURL}}
    {{ range .Drafts }}
      <li>
        {{ if .Joined }}
          {{ if .Replayable }}
            <span><a href="/deckbuilder/{{ .ID }}{{ $ViewURL }}">{{ .Name }}</a></span>
          {{ else }}
            <span><a href="/draft/{{ .ID }}{{ $ViewURL }}">{{ .Name }}</a></span>
          {{ end }}
        {{ else }}
          <span>{{ .Name }}</span>
        {{ end }}
        <span>{{ .Seats }} seats available.</span>
        {{ if .Joinable }}
          <span><a href="/join/{{ .ID }}{{ $ViewURL }}">Join!</a></span>
        {{ end }}
        {{ if .Replayable }}
          <span><a href="/replay/{{ .ID }}{{ $ViewURL }}">Replay</a></span>
        {{ end }}
        {{ if eq $.UserID 1  }}
          <span><a href="/bulk_mtgo/{{ .ID }}">[export]</a></span>
        {{ end }}
      </li>
    {{ end }}
  </ul>
</div>
</body>
</html>
