<!doctype html>
<html>
<head>
  <title>not for ulb nope</title>
  <link rel="icon" href="data:;base64,=">
</head>
<body>
  <div>draft id: {{ .DraftId }}</div>
  <div>
    {{ if not .Pack }}
      <div>no packs available</div>
    {{ else }}
      <div>current pack</div>
        {{ range .Pack }}
          <div class="card pick">
            <img data-cardid="{{ .Id }}" src="/proxy/{{ .Edition }}/{{ .Number }}" height=300 />
            <span>{{ .Name }}</span>
            {{ if .Tags }}
              <span>({{ .Tags }})</span>
            {{ end }}
          </div>
        {{ end }}
    {{ end }}
    <hr/>
    {{ if not .Picks }}
      <div>no picks yet</div>
    {{ else }}
      <div>previous picks</div>
      {{ range .Picks }}
        <div class="card">
          <img src="/proxy/{{ .Edition }}/{{ .Number }}" height=300 />
          <span>{{ .Name }}</span>
          {{ if .Tags }}
            <span>({{ .Tags }})</span>
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
  </div>
  <script>
    function evt(e) {
      if (e.target.tagName !== 'IMG') {
	return;
      }
      var cardId = e.target.getAttribute('data-cardid');
      if (window.picked == null) {
	window.picked = cardId;
      } else if (window.picked != cardId) {
	window.location = '/librarian/' + window.picked + '/' + cardId;
      }
    }
    [].map.call(document.querySelectorAll('.pick img'), (v, i, a) => {
      v.addEventListener('click', evt);
    });
  </script>
</body>
</html>
