<!doctype html>
<html>
<head>
    <title>r38 login</title>
    <link href="/static/favicon.png" rel="icon">
</head>
<body>

<div style="display:flex;justify-content:center;align-items:center;">
    <div style="padding-top:2em; font-family: sans-serif; font-size: 300%; ">
        <div><a href="/auth/discord/login">login</a></div>
        <div><img src="https://i.ibb.co/WcnCRFW/PInky.png"/></div>
    </div>
</div>
