<!doctype html>
<html>
<head>
  <title>not for ulb nope</title>
  <link rel="icon" href="data:;base64,=">
  <link href="/static/replay.css" rel="stylesheet">
</head>
<body>
  <button id="next">Next</button>
  <select id="seat">
    <option value="0">Jud</option>
    <option value="1">Greg</option>
    <option value="2">Zhe</option>
    <option value="3">Dom</option>
    <option value="4">Gus</option>
    <option value="5">Tom</option>
    <option value="6">Ned</option>
    <option value="7">Tars</option>
  </select>
  <div id="pack"></div>
  <hr/>
  <div id="picks"></div>
  <script>window.DraftString={{ .Json }};</script>
  <script src="/static/replay.js"></script>
</body>
</html>
