<!doctype html>
<head>
  <title>DraftSim</title>
  <link href="/static/favicon.png" rel="icon">
</head>
<body>
<div id="app"></div>
</body>
<script>window.DraftString={{ .JSON }};window.UserInfo={{ .UserJSON }};window.DraftString2={{ .JSON2 }};</script>
<script src="/static/dist/app.bundle.js"></script>
</html>
