<!doctype html>
<html>
<head>
  <title>not for ulb nope</title>
  <link rel="icon" href="data:;base64,=">
</head>
<body>
  <script>window.DraftString={{ .Json }};window.Draft=JSON.parse(window.DraftString)</script>
  <script src="/static/replay.js"></script>
</body>
</html>
