<!doctype html>
<head>
  <title>DraftSim</title>
  <link href="/static/favicon.png" rel="icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="app"></div>
</body>
<script>window.UserInfo={{ .UserJSON }};</script>
<script src="/static/dist/app.bundle.js"></script>
</html>
