.card {
    display: inline-block;
    vertical-align: top;
    border: 10px solid transparent;
}
.card.selected {
    border-color: yellow;
}
#picks #cogworklibrarian.selected {
    border-color: red;
}
